@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

$logo-fontFamily: 'Orbitron', sans-serif;

$placeholder-fontFamily: 'Raleway', sans-serif;

$country-box-color: #181818;

$button-bgColor: #CA3269;

$principal-color1: #CA3269;
$principal-color2: #C728A4;
